CompileFlags:
  Add:
    - -Wall
    - -Wextra
    - -I.

---

If:
  PathMatch: .*\.c$
CompileFlags:
  Add:
    - -std=c23

---

If:
  PathMatch: .*\.((cpp)|(cxx)|(cppm))$
CompileFlags:
  Add:
    - -std=c++23
    - -fprebuilt-module-path=./build
    - -fmodules-cache-path=./build

